.card {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px 12px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 5rem auto;
}

.list {
  display: flex;
  color: white;
  margin: 0 auto;
  padding: 2rem;
  gap: 3rem;
}

.list p {
  color: black;
  margin: 0 auto;
  font-weight: 700;
}

@media (max-width: 768px) {
  .card {
    width: 90%;
  }

  .list {
    width: 100%;
    flex-direction: column;
    padding: 2rem 0;
    gap: 2rem;
  }
}
