.data {
  display: flex;
  gap: 1rem;
}

.data_item {
  display: flex;
  margin-bottom: 0;
}

.handle_name {
  font-size: 0.5rem;
  font-weight: 800;
}

.data_count {
  margin-left: 0.3rem;
}

.data_count .number {
  font-size: 1.5rem;
  font-weight: 2000;
}

.data_count .unit {
  font-size: 1rem;
  font-weight: 1000;
}

@media (max-width: 768px) {
  .data_count .number {
    font-size: 1rem;
  }

  .data_count .unit {
    font-size: 0.7rem;
  }
}
