.item {
  display: flex;
  font-size: 1rem;
  text-align: center;
  color: #111111;
}

.item span {
  display: block;
}

.icon {
  margin-top: 0.1rem;
  margin-right: 1rem;
  color: #111111;
}

.icon svg {
  width: 1.2rem;
  height: 1.2rem;
}

.content p {
  margin: 0;
}

@media (min-width: 768px) {
  .item {
    font-size: 1.5rem;
  }

  .icon svg {
    width: 2rem;
    height: 2rem;
  }
}
