.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 10%;
  height: 3rem;
  background-color: #007A00;
}

.logo {
  font-size: 1.5rem;
  color: white;
  font-family: 'Fira', sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #94fdfd;
}

.logo a {
  text-decoration: none;
  color: #fff;
}

.navigations {
  display: flex;
}

.navigation a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin: 0 1rem;
}

.header a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.header button {
  font: inherit;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}

.header a:hover {
  color: #c291e2;
}

.header button:hover {
  background-color: #c291e2;
  color: #38015c;
}

@media (min-width: 768px) {
  .logo {
    font-size: 1.5rem;
  }

  .navigation a {
    font-size: 1rem;
  }
}
