html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

// Places Autocomplete Style
.pac-item,
.pac-item-query {
  background-color: #151515;
  color: #f7f7f7;
}
.pac-item:hover {
  background: #6666;
}
