.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 10%;
  height: 3rem;
  position: absolute;
  top: 1rem;
  z-index: 10;
}

.logo {
  line-height: 3rem;
  color: black;
}

.logo a {
  font-size: 1.4rem;
}

.navigations {
  display: flex;
}

.navigation {
  margin-top: 0.5rem;
}

.navigation a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.navigation img {
  border-radius: 50%;
}

.navigation img:hover {
  cursor: pointer;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin: 0 1rem;
}

.header a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.header button {
  font: inherit;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}

.header a:hover {
  color: #deffcc;
}

/* menu_content */
.menu_content {
  background-color: white;
  width: 15rem;
  height: auto;
  border-radius: 1rem;
  font-weight: 600;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  margin-right: 1rem;
  right: 0;
  z-index: 10;
  position: fixed;
}

.menu_nav {
  width: 80%;
  margin: 0 auto;
}

.menu_nav ul {
  padding: 0;
}

.menu_nav a {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  padding: 10px;
  cursor: pointer;
}

.profile a:hover,
.profile span:hover,
.links a:hover,
.logout a:hover{
  color: #aaa;
}

.profile a,
.links a,
.logout a {
  color: black;
}

.profile span {
  display: block;
  font-size: 0.8rem;
  font-weight: 400;
  color: #888;
  margin-top: 5px;
}

.links {
  border-top: solid #eee;
  border-bottom: solid #eee;
}

.links li {
  padding: 0.5rem 0;
}

.logout a {
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .logo {
    font-size: 1.5rem;
  }

  .navigation a {
    font-size: 1rem;
  }
}
