.is_booked {
  display: flex;
  height: 2rem;
  color: #007a00;
  border: solid #007a00;
  background-color: #fff;
  font-weight: bold;
  border-radius: 0.5rem;
}

.is_booked:hover {
  color: #fff;
  border: solid #007a00;
  background-color: #007a00;
}

.is_booked p {
  margin: auto;
}

.is_booked svg {
  margin-top: 0.3rem;
  margin-right: 0.3rem;
}

.is_not_booked {
  display: flex;
  height: 2rem;
  color: #fff;
  border: solid #007a00;
  background-color: #007a00;
  font-weight: bold;
  border-radius: 0.5rem;
}

.is_not_booked:hover {
  background-color: #00ad00;
}

.is_not_booked p {
  margin: auto;
}

.is_not_booked svg {
  margin-top: 0.3rem;
  margin-right: 0.3rem;
}
