.form {
  margin: 2rem auto;
  margin-top: 5rem;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  background-color: white;
  border-radius: 6px;
  width: 90%;
  max-width: 40rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-direction: row;
}

.control {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.control label {
  font-weight: bold;
}

.control input {
  font: inherit;
  font-weight: bold;
  background-color: white;
  border-radius: 6px;
  width: 100%;
  border: none;
  outline: none;
  padding: 1rem;
}

.form button {
  width: auto;
  font: inherit;
  padding: 0.25rem 0.5rem;
  background-color: #F56018;
  border: 1px solid #F56018;
  color: #dafff7;
  border-radius: 0 4px 4px 0;
}

@media (min-width: 768px) {
  .form {
    flex-direction: row;
  }

  .control select {
    width: 100%;
  }

  .form button {
    width: 20%;
  }
}
