.alert {
  margin: 1rem auto;
  margin-top: 5rem;
  padding: 1rem 2rem;
  width: 90%;
  max-width: 40rem;
  background-color: #fbba9a;
  color: #f56018;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 6px;
}
